Django==2.0.1
requests==2.18.4
selenium==3.8.0
wheel==0.30.0
Sphinx==1.6.5
sphinx_bootstrap_theme==0.6.0
django-admin-view-permission==1.4
django-mass-edit==3.0
django-nested-inline==0.3.7
django-import-export==0.6.1
djangorestframework==3.7.7
RPi.GPIO==0.6.3
beautifulsoup4==4.4.0
lxml==4.2.3
django-filter==2.0.0
python-memcached==1.59