{% extends 'shared/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/argument.css' %}">
{% endblock %}

{% block content %}
<body>
<div class="container">
    <h2 class="text-center">{{ argument.argument_name }}</h2>
    <div class="row justify-content-around">
        <div class="col align-self-center">
            {% include 'shared/chat_lobby.html' %}
        </div>
        <div class="col-auto align-self-center">
            <div class="chatbox">
                <div class="chatlogs">
                    <ul>
                        {% for participant in argument.participants.all %}
                        <div class="message container {% if participant in argument.forfeited.all %}forfeit{% endif %}">
                            <div class="row">
                                <div class="col">
                                    <p class="writer-left">{{ participant }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row justify-content-center">
                            <div class="col-auto align-self-center">
                                <form method="post" action="{% url 'argument' argument.id %}">
                                    {% csrf_token %}
                                    <button name="forfeit" class="btn red">Forfeit</button>
                                </form>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}