{% extends 'shared/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/create_argument.css' %}">
{% endblock %}

{% block content %}
    <body class="bg-info">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="card card-body col-6">
                <form method="post" action="{% url 'create_argument' %}">
                    {% csrf_token %}
                    <h1>Start an Argument</h1>
                    <label for="formArgumentName">Argument Name</label>
                    {% if form.argument_name.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.argument_name.errors|escape }}</strong>
                        </div>
                    {% endif %}
                    <input name="argument_name" class="form-control" placeholder="Ex. PC's are better than Mac."
                           id="formArgumentName">
                    <label for="formArgumentTopic">Topic</label>
                    <select name="topic" class="form-control" id="formArgumentTopic">
                        {% for topic in  topics %}
                            <option value="{{ topic.id }}">{{ topic.topic_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="formArgumentSize">Max Size</label>
                    <select name="max_participants" class="form-control" id="formArgumentSize">
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                    </select>
                    <label for="formArgumentDescription">Description</label>
                    {% if form.description.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.description.errors|escape }}</strong>
                        </div>
                    {% endif %}
                    <textarea name="description" class="form-control"
                              placeholder="Ex. The eternal debate. It ends today." rows="3"
                              id="formArgumentDescription"></textarea>

                    <div class="row align-items-center justify-content-center top-buffer">
                        <div class="col-auto">
                            <button class="btn">Start Arguing!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock content %}