<!doctype html>
{% load static %}
<html>
<head>
    <title> {{ title }} - Argue </title>

    {# load the icons, styles, and scripts from head #}
    {% include "shared/head.html" %}
    <link rel="stylesheet" href="{%static 'css/lobby.css' %}">
</head>

<body  class="bg-info">
    <div class="container">
      <h2 class="text-center">Pick a Lobby</h2>


        <div class="row  bg-white">
        {% for lobby_instance in lobbies %}
            <div class="col-md-8">
                {{lobby_instance.lobby.argument.argument_name}}
                <div class="row">
                    <div class="col-md-5">Topic: {{lobby_instance.lobby.argument.topic.topic_name}}</div>
                    <div class="col-md-5">Players: {{lobby_instance.count}}/{{lobby_instance.lobby.max_participants}}</div>
                    <button class="btn btn-primary col-md-2 text-center">Enter</button>
                </div>
            </div>
            <div class="col-md-4">Description: {{lobby_instance.lobby.argument.description}}</div>
        {% endfor %}

      </div>

    </div> <!-- /container -->


</body>
</html>