{% extends 'shared/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <body>
    <div class="container">
        <div class="row justify-content-left align-content-center">
            <div class="col-auto">
                <img class="user-thumbnail" src="{% static "img/profile/Thumbnail.png" %}">
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col-auto">
                        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                    </div>
                    <div class="col-auto">
                        <img src="{% static "img/profile/RedTrophy.png" %}">
                        <img src="{% static "img/profile/GreenTrophy.png" %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <h6>{{ profile.bio }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2> Recent Arguments </h2>
        </div>
        <div class="row argumentsList">
            <table>
                <thead>
                <tr>
                    <td>Topic Name</td>
                    <td>Date</td>
                    <td>Status</td>
                    <td>View</td>
                <tr>
                </thead>
                <tbody>
                {% for arg in arguments %}
                    <tr>
                        <td> {{ arg.argument_name }}</td>
                        <td> {{ arg.last_updated }}</td>
                        <td class="green"> {{ arg.status.status_name }}</td>
                        <td>
                            <button style=" margin:auto; display:block; padding-left:20px; padding-right:20px"
                                    class="btn light btn-primary text-center" type="submit" value="{{ arg.id }}"> Go to
                                Lobby
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </body>
{% endblock content %}
