{% extends 'shared/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <body>
    <div class="container" style="margin-top:45px">
        <div class="row justify-content-left align-content-center">
            <div class="col-auto">
                <img class="user-thumbnail" src="{% static "img/profile/Thumbnail.png" %}">
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col-auto">
                        <h2> <b> {{ user.first_name }} </b> {{ user.last_name }}</h2>
                    </div>

                    <div class="col-auto">
                      <button style="display:block; margin-left:-5px; margin-top:2px;"
                              class="btn light editButton btn-primary" type="submit" onclick="location.href='{% url 'edit_profile' %}'">
                      </button>
                    </div>

                    <div class="col-auto">
                        <img src="{% static "img/profile/RedTrophy.png" %}">
                        <img src="{% static "img/profile/GreenTrophy.png" %}">
                    </div>


                </div>
                <div class="row">
                    <div class="col-auto">
                        <h6>{{ profile.bio }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <h3> Recent Arguments </h3>
            <button style="display:block; margin-left:20px; margin-top:5px;"
                    class="btn light addButton btn-primary" type="submit" onclick="location.href='{% url 'create_argument' %}'">
            </button>
        </div>
        <div class="row argumentsList">
            <table style="margin-top:10px">
                <thead>
                <tr style="background-color:#ffffff85">
                    <th> <b> Topic Name </b> </th>
                    <th> <b> Date </b> </th>
                    <th> <b> Status </b> </th>
                    <th> <b> View </b> </th>
                <tr>
                </thead>
                <tbody>
                {% for arg in arguments %}
                    <tr>
                        <td> {{ arg.argument_name }}</td>
                        <td> {{ arg.last_updated }}</td>
                        <td class="green"> {{ arg.status.status_name }}</td>
                        <td>
                            <button style=" margin:auto; display:block; padding-left:20px; padding-right:20px" class="btn light btn-primary text-center" type="submit"
                                    value="{{ arg.id }}" onclick="location.href='{% url 'argument' arg.id %}'">
                                Go to Lobby
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-4 sidebar">


        <section>

            <h1 class="sidebarHeader"> Friend Activity </h1>
            <hr>

            <div class="row">
              <img class="sidebar-user-thumbnail" style="margin-left:25px" src="{% static "img/profile/Thumbnail.png" %}">
              <h2 class="sidebarHeader" style="padding-left:5px"> Mark Disler </h2>
            </div>
            <p class="sidebarParagraph">
                Created a new argument <i> "Was the removal of the cups a publicity stunt?" </i>
            </p>

            <hr>

            <div class="row">
              <img class="sidebar-user-thumbnail" style="margin-left:25px" src="{% static "img/profile/Thumbnail.png" %}">
              <h2 class="sidebarHeader" style="padding-left:5px"> Thomas Katz </h2>
            </div>
            <p class="sidebarParagraph">
                Created a new argument <i> "Should Travis be banned?" </i>
            </p>

            <hr>

            <div class="row">
              <img class="sidebar-user-thumbnail" style="margin-left:25px" src="{% static "img/profile/Thumbnail.png" %}">
              <h2 class="sidebarHeader" style="padding-left:5px"> Preston Sheppard </h2>
            </div>
            <p class="sidebarParagraph">
                Created a new argument <i> "What color is my dog?" </i>
            </p>

            <hr>

        </section>

    </div> <!--./col-->

    </body>
{% endblock content %}
