<!doctype html>
{% load static %}
<html>
<head>
    <title> {{ title }} - Argue </title>

    {# load the icons, styles, and scripts from head #}
    {% include "shared/head.html" %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body class="bg-info bg-image">
<div class="container">
    <h1>Change My Mind</h1>
    <div class="row login-box align-items-center justify-content-center">
        <div class="col-6">
            <form method="post" action="{% url 'sign_up' %}">
                {% csrf_token %}
                <div class="row align-items-start justify-content-start">
                    <div class="col-auto">
                        <h3 class="text-left">Sign Up</h3>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        {% if form.username.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.username.errors|escape }}</strong>
                            </div>
                        {% endif %}
                        <input placeholder="User name" name="username">
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        {% if form.password1.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.password1.errors|escape }}</strong>
                            </div>
                        {% endif %}
                        <input type="password" placeholder="Password" name="password1">
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        {% if form.password2.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.password2.errors|escape }}</strong>
                            </div>
                        {% endif %}
                        <input type="password" placeholder="Retype password" name="password2">
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        <button class="btn" type="submit">Start Arguing!</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="row align-items-start justify-content-start">
                    <div class="col-auto">
                        <h3 class="text-left">Login</h3>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        <input placeholder="User name" name="username">
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        <input type="password" placeholder="Password" name="password">
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        <button class="btn">Continue Arguing!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>