<!doctype html>
{% load static %}
<html>
<head>
    <title> {{ title }} - Argue </title>

    {# load the icons, styles, and scripts from head #}
    {% include "shared/head.html" %}
    {% block styles %}
    {% endblock %}
</head>

<body>
{% include "shared/navbar.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col main">
            {#overridden by home#}
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
{% include "shared/footer.html" %}
</body>
</html>
