{% load static %}

{# Formatting Info #}
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="description" content="">
<meta name="author" content="">
<link href="{%static 'img/favicon.ico' %}" rel="shortcut icon">
<link href="{%static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

{# Remote Stylesheets #}
<link href="//fonts.googleapis.com/css?family=Pathway+Gothic+One|Oswald:400,300" rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300italic" rel='stylesheet' type='text/css'>

{# Scripts #}
<script type="text/javascript" src="{%static 'dist/argue.bundle.js' %}"></script>

{# Stylesheets #}
<link rel="stylesheet" href="{%static 'dist/argue.min.css' %}">
<link rel="stylesheet" href="{%static 'css/style.css' %}">