<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="//img/favicon.ico"/>
    <link rel="apple-touch-icon"  href="//img/apple-touch-icon.png">

    <title>OIT HELP CENTER TIME CLOCK</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/login.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/jquery.easing.1.3.js"></script>
    <script src="/assets/js/modernizr.custom.92424.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/login.js"></script>

  </head>

  <body>
    <div id="app_bg" class="prevent_select">
      <img src="/static/img/login_bg_dark.jpg"/>
    </div>
    <div id="app_container">
      <h2>Enter your Help Services LDAP credentials to be logged in to the Help Center Scheduling System.</h2> -->
      

      <div class="row"><h2><span style="font-weight: 500">OIT Help Center</span><br class="visible-xs"/><span style="font-weight: 300"> Time Clock &amp; Schedule Application</span></h2></div>

      <!-- <form autocomplete="off" name="login" action="/login" method="POST"> -->
      <form class="login" autocomplete="off" name="login">
        <div class="row"><input class="username" type="text" name="username" placeholder="netid" autofocus></div>
        <div class="row"><input class="password" type="password" name="password" placeholder="password"></div>
        <div class="row"><input class="submit" type="submit" value="login"></div>
     </form>

     <!-- <div class="seal"><img src="/img/umass_seal_login.png" width="150"/><p>This site is maintained by the Office of Information Technologies.<br>© 2014 University of Massachusetts Amherst.</p></div> -->
    </div> 
  </body>
</html>
