<div class="sub_section">
    <div class="header">Submit Settings</div>
    <div class="sub_content">
        <div class="row justify-content-center">
            <div class="col-6 align-self-center">
                <h4>submit?</h4>
            </div>
            <div class="col-6 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <button type="submit" class="confirm">Confirm Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>