* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #1ddced; }

.chatbox {
  width: 500px;
  min-width: 390px;
  height: 600px;
  background: #fff;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 0 3px #ccc;
  border-radius: 10px; }

.chatlogs {
  padding: 10px;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll; }

.chatlogs::-webkit-scrollbar {
  width: 10px; }

.chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1); }

.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px; }

.chat .user-photo {
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden; }

.chat .user-photo img {
  width: 100%; }

.chat .chat-message {
  width: 70%;
  padding: 15px;
  margin: 5px 10px 0;
  background: #0aaaf1;
  font-size: 18px; }

.friend .chat-message {
  background: lightblue; }

.user .chat-message {
  background: lightgrey;
  order: -1; }

.chat-form {
  margin-top: 20px;
  display: flex;
  align-itmes: flex-start; }

.chat-form textarea {
  background: #ffffff;
  width: 75%;
  height: 75px;
  border: 2px solid #000000;
  border-radius: 3px;
  resize: none;
  font-size: 18px; }

.chat-form button {
  background: #1ddced;
  padding: 5px 15px;
  font-size: 30px;
  color: #fff;
  border: none;
  margin: 0 10px;
  border-radius: 3px;
  box-shadow: 0 3px 0 #0eb2c1;
  cursor: pointer; }

.chat-form button:hover {
  background: #12c8d9; }
