body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url(../img/profile/Background.png);
  background-size: cover; }

h3 {
  margin-top: 2rem; }

h2 {
  color: white;
  font-size: 40px; }

.row {
  margin-bottom: 1rem; }

.row .row {
  margin-top: 1rem;
  margin-bottom: 0; }

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(180, 180, 180, 0.5);
  border: 1px solid rgba(180, 180, 180, 0.9);
  font-variant: normal;
  text-transform: none; }

hr {
  margin-top: 2rem;
  margin-bottom: 2rem; }
