@charset "utf-8";
@import "mixins";

/* base css */
html {
  background: none;
  overflow-y: hidden;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.1em;
  overflow: hidden;
}

//Main page styling
.main {
  padding: 0;
  overflow-y: scroll;
  height: 100vh;
}