/*
 * Base structure
 */
@import "mixins";

.bg-image {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-image: url("../img/d4d.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  color: $black;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: middle;
}

h2 {
  font-weight: normal;
  font-size: 30px;
  color: $white;
  text-shadow: 1px 1px grey;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: middle;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  color: $black;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: middle;
}

h4 {
  font-weight: normal;
  font-size: 20px;
  color: $white;
  text-shadow: 1px 1px grey;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: middle;
}

h5 {
  font-weight: bold;
  font-size: 12px;
  color: $black;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: middle;
}

h6 {
  font-weight: normal;
  font-size: 12px;
  color: $white;
  text-shadow: 1px 1px grey;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: middle;
}

.blurred {
  -webkit-filter: blur(3px);
}

.prevent_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/*
 * ELEMENT STYLING
 */

//Label styling
.form_label {
  margin: 0;
  padding: 0;
}

//Button styling
.button_default {
  border: none;
  margin: 5px;
  font-variant: normal;
  display: block;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  letter-spacing: 0.2em;
  outline: none;
}

button {
  &.cancel {
    @extend .button_default;
    text-transform: uppercase;
    background: $theRed;

    &:hover {
      background: #ff6868;
    }
  }
  &.confirm {
    @extend .button_default;
    background: $theBlue;
    border-bottom: 3px solid $grey;
    border-right: 3px solid $grey;
    padding: 10px;
    font-weight: bold;
    color: $white;
    -webkit-transition: all .3s;
    transition: all .3s;

    &:hover {
      border-bottom: 3px solid $theYellow;
      border-right: 3px solid $theYellow;
      color: $theYellow;
    }
  }
  &.light {
    background-color: #fff;
    padding: 5px 5px;
    border: none;
    color: #787878;

    &:hover {
      background-color: #fafdff;
    }
  }
  &.grey {
    @extend .button_default;
    background: #bebebe;

    &:hover {
      background: #acacac;
    }
  }
  &.blue {
    @extend .button_default;
    color: #fff;
    font-variant: small-caps;
    text-transform: uppercase;
    font-weight: bold;
    background: $theBlue;
    padding: 12px 15px;

    &:hover {
      background: #64addb;
    }
  }
  &.red {
    @extend .button_default;
    color: $white;
    margin: 15px;
    font-variant: small-caps;
    text-transform: uppercase;
    font-weight: 500;
    background: $theRed;

    &:hover {
      background: #ff6868;
    }
  }
  &.delete {
    @extend .button_default;
    border: 1px solid #b6b6b6;
    color: #969696;
    background: transparent;
    text-align: center;

    &:hover {
      background: $theRed;
      color: $white;
      border-color: $theRed;
    }
  }
}

//Input styling
.input_default {
  color: #949595;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-variant: normal;
  text-transform: none;
}

input {
  &.number {
    @extend .input_default;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #bdbdbd;
    outline: 0;
    width: 60px;
    height: 30px;
    font-size: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;

    &:hover {
      border-bottom: 2px solid $theBlue !important;
    }

    &:focus {
      border-bottom: 2px solid $theBlue !important;
    }
  }
}

//Textarea styling
textarea {
  resize: none;
  padding: 5px;
  color: #787878;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: normal;
  font-variant: normal;
}

//Checkbox styling
/* The switch - the box around the toggle */
.switch {
  margin: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  /* Hide default HTML checkbox */
  input {
    display: none;
  }
}

// Toggle styling
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $grey;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .toggle {
  background-color: $theBlue;
}

input:focus + .toggle {
  box-shadow: 0 0 1px $theBlue;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

//Rounded toggle
.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}