table {
  width: 80%;
  background-color: #ffffff85;
  border-collapse: collapse;
  border-radius: 12px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #444;

  td{
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;

    &.red {
      color: #FF0000;
    }
    &.yellow {
      color: #F8E71C;
    }
    &.green {
      color: #029900;
    }
  }

  th {
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;
  }

  th:first-child {
    border-radius: 12px 0 0 0;
  }

  th:last-child {
    border-radius: 0 12px 0 0;
  }
}

.sidebar{
    background-color: #ffffff95;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    float: right;
    width: 300px;
}

h1.sidebarHeader {
  font-weight: bold;
  font-size: 24px;
  padding-top: 12px;
  padding-left: 12px;
  color:black;
}

h2 {
    font-size: 42px;
}

h2.sidebarHeader {
    font-size: 20px;
    color:black;
    text-shadow: 0px 0px grey;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  color: white;
}

h6 {
  font-size: 18px;
}

/* Paragraphs */

p {
  color: white;
  font-size: 36px;
  text-align: center;
}

p.sidebarParagraph {
  font-size: 18px;
  color:#333333;
  text-align: left;
  letter-spacing: 0.5px;
  padding-left:10px;
  padding-right:10px;
}

a.titleLink {
  font-size: 36px;
  color: black;
  text-align: left;
  text-decoration: none;
}

a.titleLink:hover {
  text-decoration: underline;
}

/* Images  */

img.nav {
  height: 32px;
  width: 32px;
}

img.user-thumbnail {
  height: 100px;
  width: 100px;
}

img.sidebar-user-thumbnail {
    height: 28px;
    width: 28px;
}

button.editButton {
     background-image: url("../img/profile/Edit.png");
     height: 32px;
     width: 32px;
     background-color:transparent;
     Background-size: 100%;
}

button.addButton {
     background-image: url("../img/profile/New.png");
     height: 32px;
     width: 32px;
     background-color:transparent;
     Background-size: 100%;
}
