table {
  width: 80%;
  background-color: #ffffff85;
  border-collapse: collapse;
  border-radius: 12px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #444;

  td{
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;

    &.red {
      color: #FF0000;
    }
    &.yellow {
      color: #F8E71C;
    }
    &.green {
      color: #029900;
    }
  }
}



/* Paragraphs */

p {
  color: white;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
}

a.titleLink {
  font-size: 36px;
  color: black;
  text-align: left;
  text-decoration: none;
}

a.titleLink:hover {
  text-decoration: underline;
}

/* Images  */

img.nav {
  height: 32px;
  width: 32px;
}

img.user-thumbnail {
  height: 100px;
  width: 100px;
}
